/* Reinicio de estilos */

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #A40000;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #A40000;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}



.main-segunda-seccion{
    padding:  50px 100px;
    gap: 10px;
}

header img {
    width: 12%;
    margin-left: 10px;
}

.main-presentacion--titulo {
    font-size: 5rem;
}

.main-presentacion--sub-titulo {
    font-size: 2.6rem;;
} 

/* --------------------Fin del reinicio--------------------- */

header img {
    width: 30%;
    margin-left: 10px;
}

.Contenido-principal {
    display: grid;
    grid-template-columns: minmax(100px, 700px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}

.contenido-bloque-1 p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 10px 0;
}

.contenido {
    padding-bottom: 30px;
}

.contenido-bloque-2 p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 10px 0;
}

.contenido-bloque-2 h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 0;
}

.Contenedor-videos {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(2, 350px);
    row-gap: 20px;
    padding: 20px 50px;
}

.img {
    height: 350px;
}








