:root {
    --color-base: #A40000;
    --colore-fondo: #CC1515;
    --color-parrafo:#983934;
    --fondo-secundario: #1e263d;
}

/* Imagen info */

.main-presentacion--carlera {
    background-image: url(../Recursos/Index/Expos-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 20px 0;
}



/* contenedor cartelera */

.contenedor-imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    padding: 20px 200px;
    gap: 50px;
}

.contenedor__cartelera:hover {
    background-color: #4C3A51;
}

.contenedor__cartelera2:hover {
    background-color: #B25068;
}

.contenedor__cartelera3:hover {
    background-color: #774360;
}

.contenedor__cartelera {
    height: 100%;
}